[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO={{ lookup('hashi_vault', 'secret=roboshop-{{env}}/data/frontend:catalogue_url token={{ vault_token }} url=http://vault-internal.devopsdvs.online:8200')}}
Environment=MONGO_URL="mongodb://mongodb-{{ env }}.devopsdvs.online:27017/catalogue"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target